{% extends 'layout.html' %}
{% block title %}Nuevo contacto{% endblock %}
{% block content %}    
  <div class="container-fluid">
    <div class="form_content">
      <h2>Nuevo contacto</h2>
      <form method="POST">
        {% csrf_token %}
        {% for field in create_contact %}
          <div class="">
            {{field.label_tag}}
          </div>
          <div class="">
            {{ field }}
          </div>
        {% endfor %}
        <input type="submit" value="Crear">
      </form>
    </div>
  </div>
{% endblock %}